<li>
    {{name}}

    <button class="change-devoured btn btn-primary btn-sm" data-id="{{id}}" data-newBurger="{{devoured}}">
        {{#if devoured}}IS EATEN{{else}}DEVOUR{{/if}}
    </button>
</li>
<br>